<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Bob's House of Hats</h1>
  <ul>
  <% for (var i =0; i<data.length; i++) {%>
    <li><%= data[i].name %></li>
  <% } %>
  </ul>
  <form action="" method="">
    <input type="text" name="name">
    <input type="text" name="material">
    <input type="text" name="height">
    <input type="text" name="brim">
    <input type="submit" value="Add Hat">
  </form>


</body>
</html>
