.cube {
  width: 500px;
  height: 500px;
  background-color: red;
  margin: 40px;
  float: left;
  background-image: url(nycgif.gif);
  background-size: cover;
}

@media all and (max-width: 960px) {
  body {
    background-color: yellow;
  }
  .cube {
    width: 200px;
    height: 200px;
    margin: 4px;
  }
}
