body {
  font-family: Arial;
  background-color: black;
  color: white;
  background-image: url(bg.jpeg);
  background-repeat: no-repeat;
}

h1 {

  background-color: rgba(255,0,0,0.6);
}
p {
  line-height: 20px;
}

ul.presidents > li{
  list-style-type: square;
}
