body {
  font-family: arial;
  margin: 0;
}

#header {
  background-color: white;
  position: fixed;
  width: 100%;

}

#header h1 {
  margin: 0;
}
#mainLanding {
  width: 100%;

  background-color: orange;
  color: white
}

#centerBox {
  text-align: center;
  width: 400px;

  margin: 0 auto;
  margin-top: 200px;

}

#about {
  height: 400px;
}

#contact {
  height: 400px;
  background-color: orange;
}

ul {
  padding: 0;
}

li {
  display: inline;
}


ul li a {
  color: white;
  text-decoration: none;
}
