.col1, .col2 {
  width: 50%;
  float: left;
}

.social {
  width: 40px;
  height: 40px;
  background-color: blue;
  position: fixed;
  top: 200px;
  background-image: url(fb.png);
  background-size: cover;

}

.article {
  padding-right: 10px;
}

.article p {
  text-align: justify;
}
.social p {
  color: white;
  text-align: center;
}
.main {
  margin: 0 50px;
}

.monkeypic {
  float: left;
  margin-right: 6px;
}

a {
  text-decoration: none;
  color: black;
}

.pic1 {
  background-color: pink;
}
